.content {
  background-color: #fff;
  padding: 25px;
  display: grid;
}

.imgContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
}

.desc {
  font-size: larger;
  font-weight: 200;
  margin-bottom: 0rem;
}

.price {
  font-size: larger;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .desc {
    font-size: smaller;
  }
  .price {
    font-size: smaller;
    font-weight: 400;
  }
}

@media only screen and (min-width: 1024px) {
  .desc {
    font-size: medium;
    margin-top: 0.75rem;
  }
  .price {
    font-size: medium;
    font-weight: 400;
  }
}
