.content {
  display: grid;
  grid-template-areas: "nav" "image" "price" "info";
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
  grid-gap: 0px;
  background-color: #f0f0f0;
}

@media only screen and (min-width: 1024px) {
  .content {
    display: grid;
    grid-template-areas: "nav nav" "image price" "info price";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1px;
    background-color: #f0f0f0;
  }
}

.contentBlock {
  background-color: #ffffff;
  padding: 50px 80px;
  grid-area: image;
}

.nav {
  grid-area: nav;
  width: 100%;
  background-color: #ffffff;
  padding: 0rem 3rem;
}

@media only screen and (min-width: 1024px) {
  .nav {
    background-color: #f9f9f9;
  }
}

.backButton {
  text-decoration: none;
  color: #3c3c3c;
  font-size: 3rem;
  font-weight: 200;
  float: left;
  padding-top: 1rem;
}

.backButton:visited {
  text-decoration: none;
  color: #3c3c3c;
}

.productTitle {
  font-size: x-large;
  padding: 1rem 3rem;
}

.priceBlock {
  grid-area: price;
  background-color: #ffffff;
  padding: 50px 80px;
}

.priceBlockInner {
  width: 50%;
}

@media only screen and (min-width: 1024px) {
  .priceBlockInner {
    width: 100%;
  }
}

.price {
  text-align: left;
  font-weight: 400;
  font-size: 3rem;
  color: #3c3c3c;
}

.specialOffer {
  color: #990000;
  font-weight: 400;
  font-size: x-large;
}

.includedServices {
  color: #284e36;
  font-weight: 400;
  font-size: x-large;
}

.readMore {
  border-top: solid 1px #e7e6df;
  border-bottom: solid 1px #e7e6df;
  display: flex;
  justify-content: space-between;
}

.readMore p {
  font-size: x-large;
  color: #3c3c3c;
  font-weight: 400;
}

@media only screen and (max-width: 1024px) {
  .readMore {
    display: none;
  }
}

.infoBlock {
  width: 100%;
  grid-area: info;
  background-color: #ffffff;
  padding: 50px 80px;
}

.infoHeader {
  text-transform: capitalize;
  color: #8a8a88;
  font-size: xx-large;
  font-weight: 200;
  line-height: 30px;
  letter-spacing: 1.56px;
}

.infoContent p,
.infoContent li {
  color: #757575;
  font-weight: 200;
  font-size: x-large;
  line-height: normal;
}

.productCode {
  font-size: x-large;
  color: #3c3c3c;
  margin-top: 2rem;
}

.infoList {
  padding: 0;
}

.infoRow {
  border-top: solid 1px #e7e6df;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.infoRow p {
  color: #757575;
  font-weight: 200;
  font-size: x-large;
  line-height: normal;
  text-transform: capitalize;
}

.infoRowValue {
  text-align: right;
}

.specContent {
  border-top: solid 1px #e7e6df;
}
