.page {
  min-height: 100vh;
}

.content {
  display: grid;
  background-color: #dddddd;
  color: black;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 20px;
  border-collapse: collapse;
  font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica,
    sans-serif;
}

@media screen and (min-width: 768px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.link {
  color: inherit;
  text-decoration: none;
  display: block;
  background: white;
  border: solid 1px #f0efea;
}

.content {
  background-color: #fff;
}

.price {
  font-weight: bold;
}

.pageHeader {
  background-color: #f9f9f9;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: solid 1px #f0efea;
}

.pageButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.pageButtons button {
  border: solid 1px #e7e6df;
  background-color: #ffffff;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
}
